html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.board tr.cell-row td.cell {
    padding: 10px 20px;
}

.active-cell {
    border: 4px solid green !important;
}

td.cell {
    border: 1px solid grey;
    min-width: 75px;
    min-height: 75px;
    width: 75px;
    height: 75px;
}

.cellNumber {
    font-size: 24px;
    top: -65px;
    margin: auto;
    position: relative;
    z-index: 2;
    color: black;
}

div.cellNumber.invalid {
    color: red;
}

.cageStart {
    font-size: 12px;
    position: relative;
    top: -10px;
    left: -17px;
}

.cellContent {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 55px;
    min-height: 55px;
}

.shiftUp {
    position: relative;
    top: -9px;
}

.board-button {
    width: 100%;
    font-size: 24px;
    margin-bottom: 27px;
}

.mode-label {
    font-size: 24px;
    position: relative;
    top: 8px;
}

.suggestion-table {
    font-size: 11px;
    position: relative;
    z-index: 1;
    top: -12px;
    color: grey;
    height: 55px;
    min-height: 55px;
}

.suggestion-table td {
    width: 33.3%
}
.suggestion-table tr {
    height: 33.3%;
}

.not-visible {
    color: transparent;
}

.suggestion-table > .visible {
    color: black;
}

div.message {
    font-size: 24px;
}